.App {
  font-family: sans-serif;
  text-align: center;
}
.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.list {
  padding: 10px;
  border: 1px solid black;
}
.list:hover,
.crossedOut:hover {
  cursor: pointer;
  background-color: red;
}
.crossedOut {
  padding: 10px;
  border: 1px solid black;
  text-decoration: line-through;
}
